Language: Cpp
BasedOnStyle: Google

AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AlignOperands: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: NextLine
PenaltyBreakAssignment: 1000
PenaltyBreakScopeResolution: 2000
QualifierAlignment: Left
